.content-card {
    margin-top: 5px;
    border: none !important;
}

.content-card .trash-icon {
    display: none;
}

.content-card:hover .trash-icon {
    display: inline;
}

.trash-icon {
    color: gray;
    margin-left: 10px;
}

.trash-icon:hover {
    color: red;
    cursor: pointer;
}